{$STAGING_HOST} {
  encode zstd gzip

  reverse_proxy portal:3000 {
    health_uri /api/health/ready
    health_interval 15s
    health_timeout 5s
  }

  header {
    -Server
  }

  log {
    output stdout
    format json
  }
}
