[client]
port=3307
protocol=tcp

[mariadbd]
basedir="@@MARIADB_ROOT@@"
datadir="@@MARIADB_DATA@@"
port=3307
bind-address=127.0.0.1
skip-name-resolve
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default-storage-engine=InnoDB
local-infile=0
max-connections=100
innodb-buffer-pool-size=256M
innodb-flush-log-at-trx-commit=1
sync-binlog=1
log-error="@@MARIADB_ERROR_LOG@@"
slow-query-log=1
slow-query-log-file="@@MARIADB_SLOW_LOG@@"
long-query-time=2
